@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.wrapper {
  margin-top: 24px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;

  @include respond-to("md") {
    font-size: 24px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  list-style: none;

  @include respond-to("sm") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to("md") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-to("lg") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  background-color: var(--dark-500);
  padding: 20px;
  border-radius: $border-radius-md;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  color: var(--purple-100);
}

.value {
  font-size: 15px;
  font-weight: 500;
  @include text-mono;
}
