@use "@/styles/mixins" as *;

.main {
  padding: 24px 16px 48px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  @include respond-to("sm") {
    padding: 24px 24px 48px;
  }

  @include respond-to("md") {
    padding: 48px 24px 64px;
  }
}
