@use "@/styles/variables" as *;

@reference "./globals.scss";

.body {
  padding-top: 56px;
}

.main {
  min-height: calc(100dvh - 56px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}
