@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.row {
  border-bottom: 1px solid rgba($color-purple-600, 0.1);
  transition: background-color $transition-fast;

  &:hover {
    background-color: rgba($color-dark-400, 0.3);
  }

  &:last-child {
    border-bottom: none;
  }
}

.nameCell {
  padding: 16px 0 16px 20px;
  font-weight: 700;
  color: var(--foreground);
}

.gainersCell {
  padding: 8px 20px 8px 0;
}

.gainers {
  display: flex;
  gap: 4px;
}

.coinImage {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.changeCell {
  padding: 8px;
  font-weight: 500;
}

.change {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
}

.up {
  color: var(--green-500);
}

.down {
  color: var(--red-500);
}

.marketCapCell {
  padding: 8px;
  font-weight: 500;
  font-size: 13px;
}

.volumeCell {
  padding: 8px 20px 8px 8px;
  font-weight: 500;
  font-size: 13px;
}
